[Desktop Entry]
Encoding=UTF-8
Version=1.0

Name=putty

GenericName=PuTTY
GenericName[pl]=PuTTY

Comment=Win32 PuTTYs clone
Comment[pl]=Klon PuTTY z Win32

TryExec=putty
Exec=putty
Terminal=false
Icon=putty.xpm

Type=Application
Categories=Application;TODO;Utility;GTK;

# vi: encoding=utf-8
