[Desktop Entry]
Version=1.0
Name=putty
GenericName=PuTTY
GenericName[pl]=PuTTY
Comment=Win32 PuTTYs clone
Comment[pl]=Klon PuTTY z Win32
TryExec=putty
Exec=putty
Terminal=false
Icon=putty
Type=Application
Categories=GTK;Network;RemoteAccess;
# vi: encoding=utf-8
